<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.cameraframe"
    version="0.0.1">

    <name>CameraFrame</name>
    <description>Draws a frame within Camera view.</description>
    <license>MIT</license>

    <repo>https://github.com/NNA/cordova-plugin-cameraframe</repo>
    <issue>https://github.com/NNA/cordova-plugin-cameraframe/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/cameraframe.js" name="CameraFrame">
        <clobbers target="cordova.plugins.cameraframe" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <source-file src="src/android/CameraFrame.java" target-dir="src/com/phonegap/plugins/cameraframe" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CameraFrame">
                <param name="android-package" value="com.phonegap.plugins.cameraframe.CameraFrame" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.phonegap.plugins.cameraframe.CaptureActivity"
                android:screenOrientation="landscape"
                android:clearTaskOnLaunch="true"
                android:configChanges="orientation|keyboardHidden"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:windowSoftInputMode="stateAlwaysHidden"
                android:exported="false">
                <intent-filter>
                    <action android:name="com.phonegap.plugins.cameraframe.SCAN"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
            </activity>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA" />
            <!-- Not required to allow users to work around this -->
            <uses-feature android:name="android.hardware.camera" android:required="false" />
        </config-file>

    </platform>

    <!-- browser -->
    <!-- <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="CameraFrame">
                <param name="browser-package" value="CameraFrame" />
            </feature>
        </config-file>

        <js-module src="src/browser/CameraFrameProxy.js" name="CameraFrameProxy">
            <runs />
        </js-module>
    </platform> -->

</plugin>